

<ion-content class="Content" >
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="info" align="center">
        <div class="titleImg">
            <img src="images/new_user.png" style="width: 100%" />
        </div>

           <div id="RegisterForm" *ngIf="RegisterStep == 1" class="MT20">
               <!--
               <div class="form-group">
                   <input type="text" class="form-control textWhite"  name="username" ngModel required  placeholder="* הכנס שם משתמש"><br>
               </div>
                -->
               <div class="form-group">
                   <input type="text" class="form-control textWhite" [(ngModel)]="info.student_name"   required  placeholder="הכנס שם תלמיד"><br>
               </div>

               <div class="form-group">
                   <input type="tel" class="form-control textWhite"  [(ngModel)]="info.phone"   required  placeholder="הכנס טלפון"><br>
               </div>

               <div class="form-group">
                   <input type="email" class="form-control textWhite" [(ngModel)]="info.email"   required  placeholder="* הכנס אימייל"><br>
               </div>


               <div class="form-group">
                   <input type="text" class="form-control textWhite"  [(ngModel)]="info.password" required  placeholder="* הכנס סיסמה"><br>
               </div>

               <div class="form-group">
                   <input type="text" class="form-control textWhite" [(ngModel)]="info.city"   required  placeholder="הכנס עיר"><br>
               </div>

               <button ion-button class="regButton" color="secondary"  type="button" (click)="registerForm()">הבא</button>

               <div style="width:80%; margin: auto">
                   <div  (click)="faceBookConnect()">
                       <img src="images/main_bt3.png" style="width: 100%" class="MT20" />
                   </div>
               </div>

            </div>

            <div id="RegisterForm2" *ngIf="RegisterStep == 2">


                <div class="form-group">

                    <select id="schoolgrade" class="form-control"  [(ngModel)]="info.schoolgrade"  required >
                        <option value="" selected>בחירת כיתה</option>
                        <option *ngFor="let item of schoolgradeArray let i=index" [value]="item.id" >{{item.title}}</option>
                    </select>
                </div>

                <div class="form-group" >
                        <select id="teachinglevel" class="form-control" [(ngModel)]="info.teachinglevel"   required >
                        <option value="" selected>בחירת רמת לימוד</option>
                            <option *ngFor="let item of teachinglevelArray let i=index" [value]="item.id" >{{item.title}}</option>
                    </select>
                </div>


                <div class="form-group" >
                    <select id="branch_id" class="form-control" [(ngModel)]="info.branch_id"   required >
                        <option value="" selected>בחירת סניף</option>
                        <option *ngFor="let item of branchesArray let i=index" [value]="item.id" >{{item.title}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control textWhite" [(ngModel)]="info.scool_name"   required  placeholder="* הכנס שם בית ספר"><br>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control textWhite" [(ngModel)]="info.parent_name"   required  placeholder="* הכנס שם הורה"><br>
                </div>

                <div class="form-group">
                    <input type="tel" class="form-control textWhite" [(ngModel)]="info.parent_phone"   required  placeholder="* הכנס טלפון הורה"><br>
                </div>

                <button ion-button class="regButton" color="secondary"   type="button" (click)="registerForm()">אישור</button>
            </div>
    </div>

</ion-content>
