<!--
  Generated template for the PastclassesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding>



    <back-button></back-button>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="greenLine"></div>

  <div class="info" align="center">


      <ion-searchbar
              [(ngModel)]="searchInput"
              [showCancelButton]="true"
              (ionInput)="filterItems($event)"
              (ionClear)="onCancel($event)">
      </ion-searchbar>

    <div class="MT20" *ngIf="ClassesArray.length == 0">
      לא נמצאו שיעורים
    </div>


      <div class="mainRow1" *ngFor="let row of ClassesArray let i=index">
          <div class="rowDiv">
              <div class="Title1">שם הקבוצה :  {{row.title}}</div>
              <div class="Date1">{{row.class_date}}</div>
          </div>
          <div class="rowDiv">
              <div class="Status1" *ngIf="row.approve_status != 2">סטטוס :  {{getClassStatus(row.approve_status)}}</div>
              <div class="Status1" *ngIf="row.approve_status == 2"> סטטוס: <span class="NotApproved">{{getClassStatus(row.approve_status)}}</span></div>
              <div class="Hour1"> שעה :  {{row.class_hour}} </div>
          </div>
      </div>


  </div>
</ion-content>

<ion-footer>
  <footer></footer>
</ion-footer>
