

<ion-content>
    <div class="mainLogo" align="center">
        <img src="images/logo.png" style="width:50%; margin: auto">
    </div>
    <div class="mainTitle"> הרשמה / התחברות</div>
    <div class="info" align="center">
        <div class="client" (click)="goLogin()">
            <img src="images/main_bt1.png" style="width: 100%" />
        </div>
        <div class="client MT20" (click)="goToRegister(1)" >
            <img src="images/main_bt2.png" style="width: 100%" class="MT20" />
        </div>

        <div class="client" >
            <facebookconnect></facebookconnect>
        </div>
    </div>





</ion-content>
