page-classsignupmodal {
  .mainTitle
  {
    width: 80%;
    margin: auto;
    margin-top: -10px;
  }

  ion-row
  {
    direction: rtl;
    color: white;
    text-align: right;
  }

  .regButton
  {
    width: 80% !important;
    margin-top: 20px !important;
    background-color:#ffd000;
    margin: auto;
  }

  .cancelButton {
    width: 80% !important;
    margin-top: 20px !important;
    background-color:#ccc;
    margin: auto;
  }
}
