<!--<ion-toolbar no-padding>-->
  <!--<ion-grid>-->
    <!--<ion-row text-center>-->
      <!--<ion-col (click)="goFutureClassesPage()">-->
        <!--<div>-->
          <!--<ion-icon name="ios-clock"></ion-icon>-->
        <!--</div>-->
        <!--<div ion-text color="primary">שיעורים עתידיים</div>-->
      <!--</ion-col>-->
      <!--<ion-col (click)="goProfilePage()">-->
        <!--<div>-->
          <!--<ion-icon name="ios-contact"></ion-icon>-->
        <!--</div>-->
        <!--<div ion-text color="primary">פרטי תלמיד</div>-->
      <!--</ion-col>-->
      <!--<ion-col (click)="goPreviousClassesPage()">-->
        <!--<div>-->
          <!--<ion-icon name="ios-rewind"></ion-icon>-->
        <!--</div>-->
        <!--<div ion-text color="primary">שיעורים שהיו</div>-->
      <!--</ion-col>-->
      <!--<ion-col (click)="goHomePage()">-->
        <!--<div>-->
          <!--<ion-icon name="md-home"></ion-icon>-->
        <!--</div>-->
        <!--<div ion-text color="primary">מסך הבית</div>-->
      <!--</ion-col>-->
    <!--</ion-row>-->
  <!--</ion-grid>-->
<!--</ion-toolbar>-->


<table class="footerTable">
    <tr>
        <td (click)="goPushNotifications()">
            <img src="images/home/ic6.png" style="width: 100%; position: relative;">
            <ion-badge id="notifications-badge" color="danger" *ngIf="messagesCount > 0">{{messagesCount}}</ion-badge>
        </td>
        <td (click)="goFutureClassesPage()">
            <img src="images/home/ic1.png" style="width: 100%">
        </td>
        <td (click)="goProfilePage()">
            <img src="images/home/ic2.png" style="width: 100%">
        </td>
        <td (click)="goPreviousClassesPage()">
            <img src="images/home/ic3.png" style="width: 100%">
        </td>
        <td (click)="goHomePage()">
            <img src="images/home/ic4.png" style="width: 100%">
        </td>
    </tr>
</table>