<!--
<ion-header>
  <ion-navbar>
    <ion-title>צור קשר</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="closeModal()">
        <ion-icon item-right name="ios-close-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
-->

<ion-content padding>
  <div class="mainLogo" align="center">
    <img src="images/logo.png" style="width:50%; margin: auto">
  </div>

  <div class="greenLine"></div>



  <div align="center" style="direction: rtl;">

    <div class="form-group">
      <input type="text" class="form-control textWhite" [(ngModel)]="info.fullname"   required  placeholder="הכנס שם מלא"><br>
    </div>

    <div class="form-group">
      <input type="tel" class="form-control textWhite"  [(ngModel)]="info.phone"   required  placeholder="הכנס טלפון"><br>
    </div>

    <div class="form-group">
      <textarea rows="4" cols="50" class="form-control textWhite" [(ngModel)]="info.description"   required  placeholder="תיאור הפנייה"></textarea>
    </div>



    <button ion-button full class="regButton" (click)="sendContact()">אישור</button>
    <button ion-button full class="cancelButton" (click)="closeModal()">ביטול</button>


  </div>
</ion-content>
