page-futureclasses {
  td
  {
    background-color: #1e97e1;
    margin-left: 15px;
    padding: 5px;
  }

  .mainRow
  {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
  }

  .Hour
  {
    float: left;
    width: 25%;
    background-color: #1e97e1;
    padding:5px;
  }

  .Date
  {
    float: left;
    margin-left: 1%;
    width: 24%;
    background-color: #1e97e1;
    padding: 5px;
  }

  .Title
  {
    float: left;
    margin-left: 1%;
    width: 24%;
    background-color: #1e97e1;
    padding: 5px;
  }

  .Status
  {
    float: left;
    margin-left: 1%;
    width: 24%;
    background-color: #1e97e1;
    padding: 10px;
  }

  .mainRow1
  {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    font-size: 14px;
    background-color:  #1e97e1;
    color: white;
    direction: rtl;
  }

  .Title1
  {
    width: 65%;
    float: right;
    padding: 5px;
    text-align: right;
  }

  .Date1
  {
    float: left;
    margin-left: 1%;
    width: 30%;
    text-align: left;
    padding: 5px;
  }

  .rowDiv
  {
    overflow: hidden;
    width: 100%;
    direction: rtl;
    padding:0px 6px;
  }

  .Status1
  {
    float: right;
    margin-left: 1%;
    width: 45%;
    padding: 5px;
    text-align: right;
  }

  .regButton
  {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }


  .Hour1
  {
    float: left;
    width: 45%;
    padding:5px;
    text-align: left;
  }

  .NotApproved
  {
    color:red;
    font-weight: bold;
  }
}
